:root {
  background-color: #ffffff;
  color: #000000;
  font-family: monospace;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#root {
  width: 100%;
  max-width: 400px;
  text-align: center;
}
